@model List<BankingApp.Areas.Home.Models.BankAccountViewModel>

@{
    Layout = null;
}

@foreach (var bankAccount in Model)
{
    <div class="bank-account-container">
        <div class="bank-account-top">
            <div class="mb-4 text-white">
                <small class="float-left">@bankAccount.BankAccountId - @bankAccount.AccountName</small>
                <small class="float-right">@bankAccount.AccountType</small>
            </div>

            @if (bankAccount.Balance >= 0)
            {
                <h4 class="text-white">£@bankAccount.Balance</h4>
            }
            else
            {
                <h4 class="text-black">£@bankAccount.Balance</h4>
            }
        </div>

        <div class="bank-account-bottom">
            <div class="text-center">
                <i class="fa fa-arrow-down btn btn-link cursor-pointer" onclick="ToggleAccountBottom(@bankAccount.BankAccountId)" role="button"></i>
            </div>

            <div class="display-none" id="account-@bankAccount.BankAccountId-bottom">
                @if (bankAccount.RecentTransfers != null && bankAccount.RecentTransfers.Any())
                {
                    <table class="table table-borderless table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var transferLog in bankAccount.RecentTransfers)
                            {
                                <tr>
                                    <td>@transferLog.TransferDate.ToString("dd MMM")</td>
                                    <td>@transferLog.TransactionType @transferLog.Description</td>
                                    <td>£@transferLog.AmountTransferred</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h1>No transfers yet</h1>
                    <h1>Delete button here</h1>
                }
            </div>
        </div>
    </div>
}