@model BankingApp.Areas.Home.Models.CreateBankAccountViewModel

@{
    ViewData["Title"] = "Create Bank Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="justify-content-center">
    <!-- Quick transfer start -->
    <form action="@Url.Action("CreateBankAccount", "Home")" class="form-container" method="post">
        @Html.AntiForgeryToken()
        <h4 class="text-center">Create Bank Account</h4>

        <!-- Bank Account Fields -->
        <div class="form-group">
            @Html.EditorFor(Model => Model.AccountName, new { htmlAttributes = new { @class = "form-control", placeholder = "Account Name" } })
        </div>
        <div class="form-group">
            @Html.EditorFor(Model => Model.AccountType, new { htmlAttributes = new { @class = "form-control", placeholder = "Account Type" } })
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Initial deposit" type="number" step="0.01" min="1" max="10000" id="initial-deposit" name="InitialDeposit" />
        </div>
        <div class="form-group">
            <select class="form-control select-required" id="sender-id" name="AccountToDepositFromID">
                <option value="" selected>Transfer from</option>
                @foreach (var bankAccount in Model.BankAccounts)
                {
                    <option value="@bankAccount.BankAccountId">@bankAccount.AccountName</option>
                }
            </select>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Submit</button>
        <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-block">Cancel</a>

        <!-- Create Bank Account Success/Failure Messages -->
        @if (!ViewData.ModelState.IsValid)
        {
            <hr />
            <div class="text-center">
                @foreach (var key in ViewData.ModelState.Keys)
                {
                    <label class="text-danger">@Html.ValidationMessage(key)</label>
                }
            </div>
        }
    </form>
</div>

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}